/************************************************************/
/*Widget Partenaires*/

#partenaires img {
	filter: sepia(100%) hue-rotate(180deg) contrast(200%);
	width: 100%;
	height: 40px;
	object-fit: cover;
}
#partenaires img:hover {
	filter: none;
}
#partenaires td {
	padding:0;
}

/*Fin widget partenaires*/
/************************************************************/

/*Champ de recherche sur toute la longueur de la barre de widgets*/
.widget-search__form {
	padding-left: 0;
	padding-right: 0;
	background: none;
}
.widget-search__field {
	width: 100%;
}

/*Miniatures rognées au carré en mode desktop*/
.list__thumbnail img {
	max-height: 235px;
	object-fit: cover;
}

/*Désactiver les bordures et le fond de page extérieur*/

body {
	background: none;
}

.container--outer {
	box-shadow: none;
}

.container.container--outer {
	margin: auto;
}


/*Justification du texte*/
.post__content {
	text-align: justify;
}


/*Dimensionnement des figures*/

.sidebyside {
	display:inline;
}
.sidebyside img {
	width:49%;
}


.content .leftalign {
    float: left;
    margin: 0 15px 0 0;
	max-width:50%;
}

.content .rightalign {
    float: right;
    margin: 0 0 0 15px;
	max-width:50%;
}



/*Spoiler*/
.spoiler-checkbox,
.spoiler-text {
	display:none;
}

.spoiler-checkbox:checked ~ .spoiler-text {
	display: block;
}

/* Separateur */

.separator {
	margin:auto;
	width: 60%;
	border-bottom: 3px solid #e22d30;
}

/*submenu et subsubmenu*/

/*subsubmenu en barre latérale du submenu*/
.subsubmenu__list {
/* margin-top:-22px; */
bottom:0;
top:0;
/* height:auto; */
margin-left:99%;
width:100%;
/* position:relative; */
}

.submenu__list .menu__link {
	display: inline;
}

.menu__list .menu__item .submenu__list .menu__item .subsubmenu__list .menu__item {
	/* Désactiver le trait à gauche */
	border:none;
}

/*Réduire la taille des sous-menus*/
.menu__list .menu__item .submenu__list .menu__item {
	padding: 4px 0;
}

/*Réduire la taille des sous-menus*/
.menu__list .menu__item .submenu__list .menu__item .subsubmenu__list {
	width:300px;
	/*Retirer le trait vertical en haut du subsubmenu*/
	border-top: none;	
}

/*Réduire la taille des sous-menus*/
.menu__list .menu__item .submenu__list .menu__item .subsubmenu__list .menu__item {
	padding: 2px 0;
	width:100%;
	/* max-width:300px; */
}